article.full
  h1(itemprop='headline')= page.title
  != page.content
  - var lastyear = 0
  for post, index in site.posts.sort('date', 'desc').toArray()
    if lastyear != post.date.format('YYYY')
      if index != 0
        | </ul>
      - lastyear = post.date.format('YYYY')
      h2= lastyear
      | <ul>
      li(itemprop='name')
        span.post-meta
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
        | -
        a(href= config.root + post.path, itemprop='url') #{post.title}
    else
      li
        span.post-meta
          time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' MMMM Do')
        | -
        a(href= config.root + post.path) #{post.title}
  if site.posts.toArray().length != 0
    | </ul>
