article.full
  if page.title
    h1(itemprop='headline')= page.title
  if !page.no_date
    span.post-meta
      | Last updated on
      time(itemprop='dateModified', datetime= page.updated.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY')
  != page.content