article.full
  if page.title
    h1(itemprop='headline')= page.title
  if page.date && page.updated
    .post-meta
      .post-date
        | Date:
        time(itemprop='datePublished', datetime= page.date.toISOString())= full_date(new Date(page.date), ' dddd, MMMM Do YYYY')
        if page.updated
          .post-modified
            | Modified:
            time(itemprop='dateModified', datetime= page.updated.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY')
  != page.content
