article.full
  h1(itemprop='headline')
    a.article(href= config.root + post.path)= post.title
  .post-meta
    .post-date
      | Date:
      time(itemprop='datePublished', datetime= post.date.toISOString())= full_date(new Date(post.date), ' dddd, MMMM Do YYYY')
      if post.updated
        .post-modified
          | Modified:
          time(itemprop='dateModified', datetime= post.date.toISOString())= full_date(new Date(post.updated), ' dddd, MMMM Do YYYY')
  != post.content
