meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title= page.title ? page.title + ' | ' + config.title : config.title

meta(name='description', content= page.intro ? page.intro : config.meta_description)
meta(name='generator', content= config.title)
meta(name='author', content= config.author)
meta(name='keywords', content= theme.keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')

link(href='https://fonts.googleapis.com/css?family=Fira+Mono|Kranky|Lato:300|Scope+One', rel='stylesheet')
link(rel='stylesheet', type='text/css', href= config.root + 'styles/screen.css')

if config.rss
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.rss)
if config.feed && config.feed.type == 'rss'
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.feed.path)
if config.feed && config.feed.type == 'atom'
  link(rel='alternate', type='application/atom+xml', title='Atom 0.3', href= config.feed.path)
