mixin page(title)
  if title == page.title.toLowerCase()
    h1 = title

mixin archive(post)
  li
    a(href= config.root + post.path) #{post.title}
    |  - #{ full_date(new Date(post.date), 'dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(post.date), 'H:mm')}
